body {
    background: #373737; 
    /*background: linear-gradient(black, white) #373737; */
    color:#e5e5e5;
    margin: 60px auto;
    width: 80%;
}

/**** Welcome page style ****/
body#welcomeBody {
   /* background: #ffffff;*/
background: 
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size:1.3em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.0em;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    padding: 5px;
}

footer#welcomeFooter {
    font-size: .8em;
}
footer#welcomeFooter ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
footer#welcomeFooter ul li {
    display: inline;
    padding: 5px;
}

/**** HypeLink style ****/
a {
    text-decoration: none;
    color:#0383c9;
}
a:hover {
    text-decoration: underline;
    color: #f5a2c6;
}


/**** Title style ****/
h1 {
border-bottom: 1px solid #e5e5e5;
color: #0383c9;
font-family:'Helvetica', 'Arial', 'Sans-Serif';
font-size: 2.0em;
font-weight: 100;
text-align: center;
letter-spacing:-1px;
margin: 0 0 10px;
padding:0px 2px 4px 5px;
}

h2 {
color:#0383c9;
font-family:'Helvetica', 'Arial', 'Sans-Serif';
font-size: 1.5em;
font-weight: 100;
text-align: left;
letter-spacing:-1px;
margin: 10px 0 5px 0;
}


/**** Post date style ****/
p.meta {
font-size: 1.0em;
text-align: right;
color: #0383c9;
}

/**** Post content style ****/
p {
margin:0 0 5px 0px;
font-size: 1.1em;
text-indent: 20px;
}

em {
font-family: Monaco, Courier;
font-size: 1.0em;
letter-spacing:-1px;
color:#0a0;
background: #191919;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    margin: 20px auto 20px; 
}

/**** Post list date style ****/
ul.posts li span { 
float: right;
font-family: monaco, courier;
font-size: 0.8em;
color: #e55;
}

/**** Post list title style ****/
ul.posts li a { 
font-weight: 100;
font-size: 1.0em;
}

/**** Post list excerpt style ****/
ul.posts li p { 
font-weight: 100;
font-size: 0.8em;
color: #888;
}

pre { 
font-family: Monaco, Courier;
font-size: 1em;
line-height: 1em;
background: #191919;
/*border: dashed 1px #e5e5e5;*/
width: auto;
/*padding: 5px;*/
}

code.highlighter-rouge {
background: #222021;
color: #23af4c;
}

img {
border: 3px solid #559; 
width:  236px;
height: 200px;
display: block;
margin:auto;
}


/****  welcome avatar sketch wrap div style ****/
div.wlecomContainer {
position: relative;
margin: 40px auto 40px;
}

/****  welcome avatar image style ****/
.avatar {
display: block;
margin:auto;
}

/****  welcome avatar sketch text style ****/
.avatarText {
color: #000000;
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
font-size: 1.0em;
font-weight: 100;
text-align: center;
letter-spacing:-1px;
}


/****  welcome avatar sketch style ****/
div#avatardiv {
background: linear-gradient(blue, white) #373737;
border: 1px solid #559; 
display: table-cell;
vertical-align: middle; 
width: 400px;
height: 650px;
position: relative;
left: 60%;
margin: auto;
/* text-align: center; */
}

/****  welcome avatar sketch links style ****/
nav#avatarnav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 80;
    font-size: 1.0em;
    text-align: center;
}

/*** 404 Page ***/
