body {
    background: #373737;
    color:#e5e5e5;
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size:1.3em;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.0em;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color:#0383c9;
}
a:hover {
    text-decoration: underline;
    color: #f5a2c6;
}
#h1 {
    color:#0383c9;
    letter-spacing:-5px;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
border-bottom:1px solid #e5e5e5;
color:#0383c9;
font-size:1.7em;
font-weight:100;
letter-spacing:-1px;
margin:0 0 10px;
padding:0px 2px 4px 5px;
}

#p {
    font-size: 1.3em;
    line-height: 1.0em;
    color: #e5e5e5;
}

p {
margin:0 0 15px 0px;
font-size: 1.0em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.posts li span { 
float:right;
font-family:monofur, monaco, courier;
font-size: .8em;
color:#888;
}
ul.posts li a { 
font-weight: 100;
font-size: .8em;
}

pre { 
font-family: Monaco, Courier;
background: #191919;
border: dashed 2px #e5e5e5;
width: auto;
padding: 5px;
font-size:1em;
line-height: 2em;
clear:both;
}

.terminal
{
background: #222021;
color: #ddd;
}

code.highlighter-rouge {
background: #222021;
color: #23af4c;
}

ul li {
}

.publish_date {
margin-top: 5px;
margin-bottom: 0px;
text-align: right;
font-size: 0.8em;
width: 490px;
color: #23af4c;
}

a img {
border:0;
}


/*** 404 Page ***/
