<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">
			<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			</script>
		</head>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blogs.html">Blogs</a></li>
	    		</ul>
			</nav>

			<div class="container">
			{{ content }}
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:ych_ding@163.com">Linkedin Page</a></li>
	        		<li><a href="mailto:ych_ding@163.com">Email Address</a></li>
	        		<li><a href="https://github.com/ychding11">Github Profile</a></li>
			</ul>

			<ul>
			&copy; 2017 <a href="/about.html">Yaochuang Ding, All rights reserved.</a>
			</ul>
			

			</footer>
		</body>
</html>
